{% extends "book_store/base.html" %}
{%block title%}Add delivery address{% endblock %}
{% load static %}
{% block content %}
{% for msg in messages %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            {% if msg.tags == 'error' %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {% elif msg.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {% else %}
                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                        {% endif %}
                        {{ msg }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4 d-flex justify-content-center">
        <div class="col-sm-12 col-xl-9 ">
            <div class="bg-light rounded h-100 p-4">

                <form class="login-form" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <h6 class="mb-4">DELIVERY DETAILS</h6>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" name="name"
                               placeholder="Name" required>
                        <label for="name">Name*</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="number" name="number"
                               placeholder="Enter Mobile Number" required>
                        <label for="number">Mobile No*</label>
                    </div>
                    <div class="form-floating mb-3">
                                    <textarea class="form-control" placeholder="Enter Your Address"
                                              id="address" name="address" style="height: 150px;" required></textarea>
                        <label for="address">Address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="city" name="city"
                               placeholder="Enter City" required>
                        <label for="city">City</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="state" name="state"
                               placeholder="Enter State" required>
                        <label for="state">State</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="district" name="district"
                               placeholder="Enter District" required>
                        <label for="district">District</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="landmark" name="landmark"
                               placeholder="Enter Landmark" required>
                        <label for="landmark">Landmark</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="pincode" name="pincode"
                               placeholder="Enter Pincode" required>
                        <label for="pincode">Pincode</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="country" name="country"
                               placeholder="Enter Country" required>
                        <label for="country">Country</label>
                    </div>



                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}