{% extends 'book_store/base.html' %}
{% load static %}
{% block title %}Email Confirmation{% endblock %}
{% block content %}
<div class="card mx-auto" style="width: 26rem; display: flex; flex-direction: column; align-items: center;justify-content: center;">
    <img class="card-img-top " src="https://cdn-icons-png.flaticon.com/128/8968/8968524.png" alt="Card image cap" style="width: 5rem;">
    <div class="card-body">
        <p class="card-text text-center">An email confirmation link has been sent to your registered email address. Please check your inbox and follow the instructions to confirm your email</p>
    </div>
</div>
{% endblock %}