{% extends "user_profile/userprofile_base.html" %}
{% block title %}Change Password{%endblock%}
{% block profile_content %}
<h1>Password Change</h1>
<form action="{% url 'change_password' %}" method="post">
    {% csrf_token %}
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
    <div>
        <label for="new_password1">Enter New Password:</label>
        <input type="password" id="new_password1" name="new_password1" required>
    </div>
    <div>
        <label for="new_password2">Confirm New Password:</label>
        <input type="password" id="new_password2" name="new_password2" required>
    </div>
    <button type="submit">Change Password</button>
</form>
{% endblock %}