{% extends 'admin_side\ttt.html' %}

{% block content %}
<table class="table table-striped table-dark mt-2">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Author</th>
        <th scope="col">Publisher</th>
        <th scope="col">Cover Image</th>
        <th scope="col">Active</th>
        <th scope="col">Edit</th>
        <th scope="col">Block/UnBlock</th>

    </tr>
    </thead>
    <tbody>
    {% for book in books %}
    <tr>
        <th >{{ book.title }}</th>
        <td>{{ book.category }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.publisher }}</td>
        <td><img src ="{{ book.cover_image.url}}" width="100" height="100"></td>
        <td>{{ book.is_active }}</td>
        <td><a class="btn btn-danger" href="/editproduct/{{book.id}}">Edit</a></td>
        <td>{% if book.is_active %}
            <a class="btn btn-danger" href="/block_product/{{book.id}}">Block</a>
            {% else %}
            <a class="btn btn-danger" href="/unblock_product/{{book.id}}">UnBlock</a>
            {% endif %}</td>

    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="pagination  d-flex justify-content-end me-5 pe-5">
    {% if books.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ books.previous_page_number }}">Prev</a>
    {% endif %}

    {% for num in books.paginator.page_range %}
    {% if books.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > books.number|add:'-3' and num < books.number|add:'3' %}
    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}

    {% if books.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ books.next_page_number }}">Next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ books.paginator.num_pages}}">Last</a>
    {% endif %}
</div>
{% endblock %}